@model IEnumerable<CinemaWeb.Models.Movie>
@{
    Layout = "~/Views/Shared/LayoutUserHome.cshtml";
}

<h2>TẤT CẢ PHIM ĐANG CHIẾU</h2>

<div class="movie-list">
    @foreach (var movie in Model)
    {
        <div class="movie-card">
            <img src="~/images/@movie.Poster" alt="@movie.MovieName" />

            <h4>@movie.MovieName</h4>

            <a asp-controller="CustomerMovie"
               asp-action="Detail"
               asp-route-id="@movie.IdMovie"
               class="btn">
                Đặt vé
            </a>
        </div>
    }
</div>
