<h2>Thanh toán</h2>

<form asp-controller="Payment" asp-action="Checkout" method="post">

    <label>Chọn phương thức thanh toán</label>

    <select name="paymentType">
        <option value="cash">Tiền mặt</option>
        <option value="momo">Momo</option>
        <option value="vnpay">VNPay</option>
    </select>

    <br /><br />

    <label>Tổng tiền</label>
    <input type="number" name="total" value="@ViewBag.Total" readonly />

    <br /><br />

    <button type="submit" class="btn btn-success">
        Thanh toán
    </button>

</form>