@model CinemaWeb.Models.Showtime
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/showtime.css" />
<h2>Xóa Suất Chiếu</h2>

<p>Bạn có chắc muốn xóa suất chiếu của phim <b>@Model.Movie?.MovieName</b>?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdShowtime" />
    <button type="submit" class="btn-delete">Xóa</button>
    <a asp-action="Index">Hủy</a>
</form>
