@model Cinema
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/cinema.css" />

<div class="cinema-container">
    <h2>Chi tiết rạp</h2>

    <p><strong>Tên rạp:</strong> @Model.CinemaName</p>
    <p><strong>Địa chỉ:</strong> @Model.Address</p>

    <a asp-action="Edit" asp-route-id="@Model.IdCinema" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
