@model CinemaWeb.Models.ScreeningRoom
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/room.css" />
<div class="room-container">
    <h2 class="room-title">Chi tiết phòng chiếu</h2>

    <table class="table table-bordered">
        <tr>
            <th>Tên phòng</th>
            <td>@Model.RoomName</td>
        </tr>
        <tr>
            <th>Số ghế</th>
            <td>@Model.SeatQuantity</td>
        </tr>
        <tr>
            <th>Rạp</th>
            <td>@Model.Cinema?.CinemaName</td>
        </tr>
    </table>

    <a asp-action="Edit" asp-route-id="@Model.IdRoom" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
