@model CinemaWeb.Models.Order
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutHomeAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/order.css" />

<div class="order-container">
    <h2>Xóa đơn hàng</h2>

    <p>Bạn có chắc muốn xóa đơn <b>#@Model.IdOrder</b>?</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOrder" />
        <button class="btn-danger" type="submit">Xóa</button>
        <a asp-action="Index">Hủy</a>
    </form>
</div>
